/*.hero-left .image img {
    width: 25rem;
    height: 35rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top:5rem;
    border-radius:15rem 15rem 0 0;
    overflow: hidden;

}

.hero-left{
    padding: 50px;  
   
}

.hero-right{
    padding: 200px
}

*/

.header__container {
    width: 58%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12%;
    padding: 70px;
}




.image-container{
    width: 30rem;
    height: 30rem;
    overflow: hidden;
    border-radius: 15rem 15rem 0 0;
    border: 8px solid var(--color-bg-variant)
}

.image-container>img{
    width: 100%;
    height: 100%;
}


.hero-left{
    padding-top: 100px;  
   
}